# Подключение к базе данных (Локальная или Прод)
DATABASE_URL="postgresql://пользователь:пароль@localhost:5432/имя_базы"

# Настройки NextAuth (Авторизация)
NEXTAUTH_URL="http://localhost:3000"
AUTH_SECRET="random"
AUTH_TRUST_HOST=true

# Ключи для PWA и Push-уведомлений
NEXT_PUBLIC_VAPID_PUBLIC_KEY="публичный_ключ"
VAPID_PRIVATE_KEY="приватный_ключ"
VAPID_SUBJECT="mailto:admin@uppetit.ru"

# Подключение к S3 хранилищу (Beget)
S3_ENDPOINT="https://s3.ru1.storage.beget.cloud"
S3_REGION="ru-1"
S3_BUCKET_NAME="название_бакета"
S3_ACCESS_KEY="access_key"
S3_SECRET_KEY="secret_key"
S3_PUBLIC_URL="публичная_ссылка_на_бакет"

# Cron secret key

CRON_SECRET="secret_key"